# /lib/systemd/system/stash.service
[Unit]
Description=Stash service
Requires=postgresql.service
After=postgresql.service

[Service]
EnvironmentFile=/<abs-path-to>/stash/.env.local
Environment=JVM_OPTS=""
User=james
WorkingDirectory=/<abs-path-to>/stash
ExecStart=/<abs-path-to>/stash/bin/stash serve --port PORT
Restart=on-failure

[Install]
WantedBy=multi-user.target
